/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --discord-primary: rgba(49, 97, 225, 1);
    --discord-light: rgba(246, 246, 246, 1);
    --discord-lighter: white;
    --discord-dark: rgba(34, 39, 43, 1);
}
body {
    margin: auto;
    font-family: sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 2rem;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.d-flex-f{
    display: flex;
    justify-content: space-between;
}

.reverse {
    flex-direction: row-reverse;
}

button {
    padding: 0.5rem;
    border-radius: 1rem;
    border-width: inherit;
}
.fa-brands{
    padding-right: 2rem;
}

/* #endregion Common */

/* #region Header */
#site_header {
    background-color: var(--discord-primary);
}

nav {
    align-items: center;
}

.logo {
    flex-grow: 1;
    justify-content: flex-start;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem
}

li {
    padding: 0.25rem 0.75rem;
    color: white;
}

.login {
    flex-grow: 1;
    justify-content: flex-end;
}
.login-btn{
    color: black;
}

/* #endregion Header */

/* #region Main */

/* #region Jumbo */

.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    color: white;
}

.small-container{
    flex-direction: column;
    width: 550px;
    text-align: center;
    gap: 30px;
    margin-top: 50px;
}
h1{
    font-size: 40px;
}
.buttons{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 8rem;
}

.mac-button a,
.browser-button a{
    text-decoration: none;
    color: inherit;
}
.mac-button{
    background-color: white;
    color: black;
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
}
.browser-button{
    background-color: var(--discord-dark);
    color: white;
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
}

/* #endregion Jumbo */

/* #region First_Section */

.first-section{
    background-color: var(--discord-lighter);

}

.img{
    width: 70%;
}

.text{
    width: 30%;
}

h2{
    font-size: 40px
}

p{
    padding-top: 2rem;
}
/* #endregion First_Section */

.second-section{
    background-color: var(--discord-light);
}

.wave{
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 100px
    
}

.wave-img{
    width: 100%;
    margin: auto;
}

.wave-img-rot{
    width: 100%;
    transform: rotate(180deg);
}
/* end_second_section */


/* end_third_section */

.fourth-section{
    background-color: var(--discord-light);
}

#adventure{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem;
}

.mac-button2{
    background-color: #7289DA;
    color: white;
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
}

h3{
    font-size: x-large;
}

/* end_fourth_section */

/* #endregion Main */

/* #region Footer */

#site_footer{
    background-color: var(--discord-dark);
}

.column{
    display: flex;
    justify-content: center;
}

.col ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 0.5rem;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: white;
}

.titol{
    color: #7289DA;
}

.flag{
    max-height: 1rem;
}

.b-reg{
    background-color: #7289DA;
    color: white;
}

/* #endregion Footer */