/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --discord-primary: rgba(48, 97, 225, 1);
    --discord-light: rgba(246, 246, 246, 1);
    --discord-lighter: white;
    --discord-dark: rgba(34, 39, 43, 1);
}

.flex_container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
}
/* #endregion Common */

/* #region Header */
#site_header {
    background-color: yellowgreen;
}

#flex_container_header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex_item_header {
    background-color: brown;
    height: fit-content;
    width: 50px;
    height: 18px;
}

/* #endregion Header */

/* #region Main */

/* #region First_Sec */

#first_section {
    background-color: aquamarine;
}

#first_flex_item {
    background-color: brown;
    height: fit-content;
    width: 400px;
    height: 250px;
}

/* #endregion First_Sec */

.big_item {
    background-color: red;
    width: 300px;
    height: 250px;

}

.small_item {
    background-color: blue;
    width: 200px;
    height: 250px;

}





#second_section {
    background-color: bisque;
}

/* end_second_section */

#third_section {
    background-color: palegreen;
}

/* end_third_section */

#fourth_section {
    background-color: bisque;
}

/* end_fourth_section */

#fifth_section {
    background-color: palevioletred;
}

#fifth_flex_item {
    background-color: brown;
    height: fit-content;
    width: 500px;
    height: 300px;
}

/* end_fifth_section */
/* #endregion Main */

/* #region Footer */
.top_footer {
    background-color: aquamarine;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.top_flex_container {
    display: flex;
    height: 350px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.big_text {
    background-color: yellow;
    flex-grow: 2;
    height: 350px;
}

.small_text {
    background-color: tomato;
    flex-grow: 1;
    border: 1px solid;
    height: 350px;
}

/* end_top_footer */

.bottom_footer {
    background-color: peachpuff;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.center_footer {
    display: flex;
    height: 50px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    background-color: blue;
    height: 1rem;
    width: 1rem;
}

.button {
    background-color: blue;
}
/* #endregion Footer */